<h2>Idea Box</h2>

<div class="new-idea">
  <h5 class="yellow-text">Create Idea</h5>
  <span>Idea title:</span>
  <input class="form-control" type="text" id="idea-title">
  <span>Idea Body:</span>
  <input class="form-control" type="text" id="idea-body">
  <input class="btn btn-default pull-right blue" id="create-idea" type="button" value="Save">
</div>


<div class="search">
  <span>Search Ideas:</span>
  <input type="text" id="search-box">
</div>

<br>
<h5>All Ideas</h5>
<div id="all-ideas"></div>
<div id="idea-box"></div>
