<h2>Ideas</h2>
<h5>Create Idea</h5>
<div class="form-group">
  <span>Idea title:</span>
  <input class="form-control" type="text" id="idea-title">
  <span>Idea Body:</span>
  <input class="form-control" type="text" id="idea-body">
</div>
<input class="btn btn-default pull-right" id="create-idea" type="button" value="Save">

<br>
<h5>All Ideas</h5>
  <div id="all-ideas">

  </div>
